.grafico
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;

}

.total
{
    grid-column: 1/-1;
    padding: 30px;
    font-size: 2rem;

}

.graficoItem
{
    display: grid;
    align-items: center;
    border-radius: 3px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);

}

@media(max-width: 800px)
{
    .grafico
    {
        grid-template-columns: 1fr;
        margin-bottom: 30px;

    }

}
