.formulario
{
    margin-bottom: 12px;

}

.recuperacaoSenha
{
    display: inline-block;
    padding: 5px 0px;
    color: #666666;

}

.recuperacaoSenha::after
{
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: #666666;

}

.cadastro
{
    margin-top: 30px;

}

.cadastro h2
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;

}

.cadastro h2::after
{
    content: "";
    display: block;
    width: 50px;
    height: 10px;
    background: #dddddd;
    border-radius: 3px;

}

.cadastro p
{
    margin: 15px 0px 12px 0px;

}

.cadastroBotao
{
    display: inline-block;
    min-width: 100px;
    padding: 10px 20px;
    border: none;
    font-size: 1rem;
    text-align: center;
    color: #442200;
    background: #ffbb11;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.1s;

}

.cadastroBotao:hover, .cadastroBotao:focus
{
    box-shadow: 0px 0px 0px 2px #ffeeaa, 0px 0px 0px 3px #ffbb11;
    outline: none;

}

.cadastroBotao:disabled
{
    opacity: 0.6;
    cursor: wait;

}
