.foto
{
    display: grid;
    grid-template-columns: 600px 300px;
    grid-template-rows: auto 1fr auto;
    height: 600px;
    margin: auto;
    background: #ffffff;
    border-radius: 3px;
    overflow: hidden;
    opacity: 0;
    transform: scale(0.8);
    animation: scaleUp 0.3s forwards;

}

.img
{
    grid-row: 1/-1;

}

.detalhes
{
    margin: 30px 30px 0px 30px;

}

.detalhes p
{
    display: flex;
    margin-bottom: 15px;
    justify-content: space-between;
    align-items: center;
    opacity: 0.5;

}

.detalhes p a:hover
{
    text-decoration: underline;

}

.views
{
    display: flex;
    align-items: center;
    gap: 8px;

}

.views::before
{
    content: "";
    display: inline-block;
    width: 16px;
    height: 10px;
    background: url("../../assets/visualizacao-black.svg");

}

.atributos
{
    display: flex;
    margin-top: 15px;
    margin-bottom: 30px;
    gap: 30px;
    font-size: 1.2rem;
    font-weight: bold;

}

.atributos li
{
    display: flex;
    align-items: center;
    gap: 8px;

}

.atributos li::before
{
    content: "";
    display: inline-block;
    width: 2px;
    height: 20px;
    background: #333333;
    position: relative;
    
}

@media(max-width: 1050px)
{
    .foto
    {
        grid-template-columns: 1fr;
        height: auto;
        max-height: 700px;
        overflow-y: auto;

    }

    .img
    {
        grid-row: 1;

    }

}

@keyframes scaleUp
{
    to
    {
        opacity: 1;
        transform: scale(1);

    }
    
}
