.comentarios
{
    overflow-y: auto;

}

.comentariosLista
{
    padding: 0px 30px;

}

.fotoSingle .comentariosLista
{
    padding: 0px;

}

.comentariosLista li
{
    margin-bottom: 8px;

}

.autor
{
    font-weight: bold;

}
