.modal
{
    display: flex;
    width: 100%;
    height: 100%;
    padding: 30px 60px;
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 100;

}

@media(max-width: 800px)
{
    .modal
    {
        padding: 15px;

    }

}
