*
{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: Helvetica, Arial, sans-serif;
    color: #333333;

}

body
{
    padding-top: 64px;

}

a
{
    text-decoration: none;

}

ul
{
    list-style: none;

}

img
{
    display: block;
    max-width: 100%;

}

button, input
{
    display: block;
    font-size: 1rem;

}

.container
{
    max-width: 900px;
    padding: 0px 20px;
    margin: 0px auto;

}

.titulo
{
    margin: 15px 0px;
    font-family: Georgia;
    font-size: 3rem;
    font-weight: bold;
    position: relative;
    z-index: 1;

}

.titulo::after
{
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background: #ffbb11;
    border-radius: 3px;
    position: absolute;
    bottom: 5px;
    left: -5px;
    z-index: -1;

}

.animaLeft
{
    opacity: 0;
    transform: translateX(-20px);
    animation: animaLeft 0.3s forwards;

}

@keyframes animaLeft
{
    to
    {
        opacity: 1;
        transform: initial;

    }

}
