.header
{
    width: 100%;
    background: #ffffff;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0px;

}

.menu
{
    display: grid;
    height: 64px;
    

}

.menu ul
{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo
{
    padding: 8px 0px;

}

.login
{
    display: flex;
    align-items: center;
    gap: 8px

}

.login::after
{
    content: "";
    display: inline-block;
    width: 14px;
    height: 17px;
    background: url("../assets/usuario.svg") no-repeat center center;

}
