.formContainer
{
    margin-bottom: 12px;

}

.label
{
    display: inline-block;
    margin-bottom: 5px;

}

.input
{
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #eeeeee;
    background: #eeeeee;
    border-radius: 5px;
    transition: 0.1s;

}

.input:hover, .input:focus
{
    border-color: #ffbb11;
    background: #ffffff;
    box-shadow: 0px 0px 0px 2px #ffeeaa;
    outline: none;

}

.erro
{
    margin-top: 2px;
    font-size: 0.85rem;
    color: #ff3311;

}
